<?xml version="1.0" encoding="UTF-8"?>
	<Configuration status = "info">
		<Properties>
			<property name="LOG_DIR">logs</property>
			<property name="pattern_file">%d{yyyy-MM-dd HH:mm:ss} %-5level - %logger{-3} - %m%n</property>
			<property name="pattern_console">%relative %-5level - %logger{1} - %m%n</property>
		</Properties>

		<Appenders>
			<Console name="Console" target="SYSTEM_OUT">
				<PatternLayout pattern="${pattern_console}"/>
			</Console>
			<File name="File" fileName="${LOG_DIR}/text.log" bufferedIO="true">
				<PatternLayout pattern="${pattern_file}"/>
			</File>
		</Appenders>

		<Loggers>
			<Root level = "debug">
				<AppenderRef ref = "Console" level = "debug"/>
				<AppenderRef ref = "File"/>
			</Root>
		</Loggers>
	</Configuration>
